<app-dashboard></app-dashboard>




<div class="wrapper" style="margin-top: 25px;">


    <div class="content-wrapper">
        <div class="container">
        
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Clientes</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a (click)="voltarRota()">Home</a></li>
                                <li class="breadcrumb-item active">Lista de Clientes</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="card" style="margin: 170px auto;">
            <div class="card-header border-transparent">
                <h3 class="card-title">Lista de Empresas</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                </div>
            </div> -->

        <div class="card-body p-0">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">

                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <!-- <input type="text" name="table_search" class="form-control float-right" placeholder="Search"> -->
                                        <div class="input-group-append">
                                            <button [routerLink]="['/save-clientes']"  type="submit" class="btn btn-warning">
                                                Novo Cliente
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body table-responsive p-0">
                                <table class="table  text-nowrap">
                                    <thead>
                                        <tr class="centered-header">
                                            <th>CNPJ</th>
                                            <th>RAZÃO SOCIAL</th>
                                            <th>NOME FANTASIA</th>
                                            <th>NOME RESPONSÁVEL</th>
                                            <th>CELULAR RESPONSÁVEL</th>
                                            <th>ATIVO</th>
                                            <th>AÇÃO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let clientes of cliente">
                                            <td style=" text-align: center;">{{clientes.cnpj}}</td>
                                            <td style=" text-align: center;">{{clientes.razao_social}}</td>
                                            <td style=" text-align: center;">{{clientes.nome_fantasia}}</td>
                                            <td style=" text-align: center;">{{clientes.nome_responsavel}}</td>
                                            <td style=" text-align: center;">{{clientes.celular_responsavel}}</td>
                                            <td style=" text-align: center;">{{clientes.ativo}}</td>
                                            <td style=" text-align: center;" >
                                                <button type="button" 
                                                class="btn btn-danger" 
                                                style="font-size: 12px;"
                                                data-toggle="modal"
                                               data-target="#modal-default"
                                               [attr.data-target]="'#modal-' + clientes.id"
                                               (click)="onDelete(clientes)"
                                                >
                                                    Excluir</button>{{'
                                                '}}<button type="button" class="btn btn-warning"
                                                    [routerLink]="['/edit-clientes', clientes.id]" data-tooltip="Editar"
                                                    style="font-size: 12px;">Editar</button>
                                            </td>

                                             <div class="modal fade" id="modal-default" [id]="'modal-' + clientes.id">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Deseja Mesmo deletar {{nameCliente}}</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <button type="button" class="btn btn-danger"  data-dismiss="modal" (click)="deletarValor(clientes.id)">Excluir</button>
                                                                 
                                                            <button type="button" class="btn btn-default"  data-dismiss="modal">Fechar</button>

                                                        </div>
                                                        <div class="modal-footer justify-content-between">
                                                           
                                                        </div>
                                                       
                                                    </div>
                                
                                                </div>
                                            </div> 
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
                
                </div>
                
                </div>

 <!-- {{cliente | json}}  -->