<div class="wrapper">


 
 

    <!-- menu header -->
    <nav class="main-header navbar navbar-expand navbar-white" >

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button" ><i class="fas fa-bars"></i></a>
            </li>
            
        </ul>

      
     </nav>

    

   

    <!-- aqui para podemos retirar para fazer um menu lateral -->
    <aside class="main-sidebar  elevation-4" style="background-color: #074973;">


        <div class="sidebar">
            <a class="brand-link">
                <!-- <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
                <span class="brand-text font-weight-light" style="color: white;">Lyon Track</span>
                </a>
           <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                     <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"> 
                </div>
                <div class="info" >

                    <p style="color: azure;">Cadastros</p>

                </div>
            </div>-->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                   
                      <li class="nav-item">
                        <a [routerLink]="['/lista']" class="nav-link">
                            <svg  style="margin-top:-4px;" class="nav-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path  fill="white" d="M64 32C46.3 32 32 46.3 32 64V304v48 80c0 26.5 21.5 48 48 48H496c26.5 0 48-21.5 48-48V304 152.2c0-18.2-19.4-29.7-35.4-21.1L352 215.4V152.2c0-18.2-19.4-29.7-35.4-21.1L160 215.4V64c0-17.7-14.3-32-32-32H64z"/></svg>                          
                            <p style="color: white;">
                            Empresa
                          </p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  [routerLink]="['/cliente']" class="nav-link">
                          <i class="nav-icon far fa-user" style="color: white;"></i>
                          <p style="color: white;">
                            Clientes
                          </p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  [routerLink]="['/veiculo']" class="nav-link">
                          <svg  class="nav-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                          <path  fill="white" d="M135.2 117.4L109.1 192H402.9l-26.1-74.6C372.3 104.6 360.2 96 346.6 96H165.4c-13.6 0-25.7 8.6-30.2 21.4zM39.6 196.8L74.8 96.3C88.3 57.8 124.6 32 165.4 32H346.6c40.8 0 77.1 25.8 90.6 64.3l35.2 100.5c23.2 9.6 39.6 32.5 39.6 59.2V400v48c0 17.7-14.3 32-32 32H448c-17.7 0-32-14.3-32-32V400H96v48c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V400 256c0-26.7 16.4-49.6 39.6-59.2zM128 288a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"/></svg>
                          <p style="color: white;">
                            Veículo
                          </p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  [routerLink]="['/usuario']" class="nav-link">
                          <i class="nav-icon fa fa-user" style="color: white;"></i>
                          <p style="color: white;">
                            Usuario
                          </p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  [routerLink]="['/manifesto']" class="nav-link">
                          <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512">
                            <path fill="white" d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM80 64h64c8.8 0 16 7.2 16 16s-7.2 16-16 16H80c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64h64c8.8 0 16 7.2 16 16s-7.2 16-16 16H80c-8.8 0-16-7.2-16-16s7.2-16 16-16zm16 96H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V256c0-17.7 14.3-32 32-32zm0 32v64H288V256H96zM240 416h64c8.8 0 16 7.2 16 16s-7.2 16-16 16H240c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/>
                          </svg>
                         <p style="color: white;">
                            Manifesto
                          </p>
                        </a>
                      </li>
                      <!-- <li class="nav-item">
                        <a  class="nav-link">
                            <svg  style="margin-top:-4px;" class="nav-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><path fill="white" d="M64 48c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16h80V400c0-26.5 21.5-48 48-48s48 21.5 48 48v64h80c8.8 0 16-7.2 16-16V64c0-8.8-7.2-16-16-16H64zM0 64C0 28.7 28.7 0 64 0H320c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm88 40c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H104c-8.8 0-16-7.2-16-16V104zM232 88h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H232c-8.8 0-16-7.2-16-16V104c0-8.8 7.2-16 16-16zM88 232c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H104c-8.8 0-16-7.2-16-16V232zm144-16h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H232c-8.8 0-16-7.2-16-16V232c0-8.8 7.2-16 16-16z"/></svg>                          
                            <p style="color: white;">
                            Unidade
                          </p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  class="nav-link">
                            <svg style="margin-top:-4px;" class="nav-icon" xmlns="http://www.w3.org/2000/svg" height="16" width="20" viewBox="0 0 640 512"><path fill="white" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H392.6c-5.4-9.4-8.6-20.3-8.6-32V352c0-2.1 .1-4.2 .3-6.3c-31-26-71-41.7-114.6-41.7H178.3zM528 240c17.7 0 32 14.3 32 32v48H496V272c0-17.7 14.3-32 32-32zm-80 32v48c-17.7 0-32 14.3-32 32V480c0 17.7 14.3 32 32 32H608c17.7 0 32-14.3 32-32V352c0-17.7-14.3-32-32-32V272c0-44.2-35.8-80-80-80s-80 35.8-80 80z"/></svg>                          
                            <p style="color: white;">
                            Usuário
                          </p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  class="nav-link">
                            <i class="nav-icon far fa-user" style="color: white;"></i>
                            <p style="color: white;">
                            Pontos
                          </p>
                        </a>
                      </li>
                -->
                </ul>
            </nav>
            
            
        </div>

    </aside>
  
</div>