<app-dashboard></app-dashboard>

<!-- <div class="content-wrapper">

    <div class="col-lg-12" style="margin-top: 10px;">
        <div class="card">
            <div class="card-header">
                <h5 class="m-0">Indentificação do Gerador</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        Razão Social:
                    </div>
                    <div class="col-4">
                        CPF/CNPJ:
                    </div>

                </div>
                <div class="row" class="borda">
                    <div class="col-6">
                       <label >Endereco:</label> 
                        <div class="borda">
                            <label>Municipio: Salvador</label> 
                            <div class="borda" style="float: right;">
                                <label>Estado: Bahia</label> 
                             </div>
                        </div>
                       
                    </div>
                    <div class="col-4"> 
                        <label >Telefone</label> 

                    </div>
                    <div class="col-2"> 
                        <label >Data de Emissão</label> 

                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div> -->

<div class="content-wrapper">
    <div class="col-lg-12" style="margin-top: 10px;">
        <div class="card">
            <div class="card-header">
                <h5 class="m-0">Indentificação do Gerador</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                       <label>Razão Social:</label> 
                    </div>
                    <div class="col-3">
                       <label>CPF/CNPJ:</label> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 borda">
                        <label>Endereco:</label>
                        <div class="borda">
                            <label>Municipio: Salvador</label>
                            <div style="float: right;" class="borda">
                                <label>Estado: Bahia</label>
                            </div>
                        </div>
                        <div class="borda">
                           <label>Nome do Responsável pela Emisão</label>

                        </div>
                    </div>
                    <div class="col-3 borda">
                        <div>
                            <label>Telefone: null</label>
                        </div>
                        <div>
                            <label>Fax/Tell: null</label>
                        </div>
                        <div>
                            <label>Cargo</label>
                        </div>
                        

                    </div>
                    <div class="col-3 borda">
                        <label>Data de Emissão</label>
                        <div style="margin-top: 50px;">
                            
                            <label style="border-top: 1px solid grey;">Assinatura Responsável</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
