<app-dashboard></app-dashboard>

<div class="wrapper">

    <div class="content-wrapper">

        <div class="card" style="margin: 170px auto;">
            <div class="card-header border-transparent">
                <h3 class="card-title">Lista de Empresas</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>

            <div class="card-body p-0">
                <div class="table-responsive" >
                    <table class="table m-0 text-nowrap">
                        <thead>
                            <tr class="centered-header">
                                <th>CNPJ</th>
                                <th>RAZÃO SOCIAL</th>
                                <th>NOME FANTASIA</th>
                                <th>NOME RESPONSÁVEL</th>
                                <th>CELULAR RESPONSÁVEL</th>
                                <th>ATIVO</th>
                                <th>AÇÃO</th>
                               


                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let empresas of empresa">

                                <td>{{empresas.cnpj}}</td>
                                <td>{{empresas.razao_social}}</td>
                                <td>{{empresas.nome_fantasia}}</td>
                                <td style=" text-align: center;">{{empresas.nome_responsavel}}</td>
                                <td style=" text-align: center;">{{empresas.celular_responsavel}}</td>
                                <td style=" text-align: center;">{{empresas.ativo}}</td>
                                
                                    
                                    <td style=" text-align: center;"><a class="btn btn-info" [routerLink]="['/edit', empresas.id]"data-tooltip="Editar">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        
                                    </a>
                                    {{' '}}
                                    <a class="btn btn-danger" data-tooltip="Excluir">
                                        <i class="fas fa-trash">
                                        </i>
                                        
                                    </a></td>
                                  
                               
                            </tr>
                            <tr>

                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>


        </div>

        <!-- Modal -->
        <!-- <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Editar Empresa</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card card-warning">
                    <div class="card-header">
                    <h3 class="card-title">Valor Selecionado</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="formEdit">
                        <div class="row">
                            <div class="col" style="border:1px solid tomato">
                                <div class="form-group">
                                    <label>razao_social</label>
                                     <input formControlName="razao_social" type="text" class="form-control" placeholder="Enter ...">
                                </div>

                                <div class="form-group">
                                    <label>nome_fantasia</label>
                                     <input formControlName="nome_fantasia"type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>cnpj</label>
                                     <input formControlName="cnpj" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>nome_responsavel</label>
                                     <input  formControlName="nome_responsavel" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>cpf_responsavel</label>
                                     <input formControlName="cpf_responsavel" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>email_responsavel</label>
                                     <input formControlName="email_responsavel" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>cep</label>
                                     <input formControlName="cep" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>logradouro</label>
                                     <input formControlName="logradouro" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>numero_logradouro</label>
                                     <input formControlName="numero_logradouro"type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>complemento_logradouro</label>
                                     <input formControlName="complemento_logradouro"type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>bairro</label>
                                     <input formControlName="bairro" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>cidade</label>
                                     <input formControlName="cidade" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>estado</label>
                                     <input formControlName="estado" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>criado_em</label>
                                     <input formControlName="criado_em" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label> atualizado_em</label>
                                     <input formControlName="atualizado_em" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>ativo</label>
                                     <input formControlName="ativo" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                               

                            </div>
                        </div>

                    </form>
                    
                    

               </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="updateEmpresa(empresa)">Salvar</button>
            </div>
          </div>
        </div>
      </div>
  
    </div> -->
        <!-- <div class="wrapper">

        <div class="content-wrapper">
    <section class="content">

        <div class="card">
        <div class="card-header">
        <h3 class="card-title">Projects</h3>
        <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
        <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
        <i class="fas fa-times"></i>
        </button>
        </div>
        </div>
        <div class="card-body p-0">
        <table class="table table-striped projects">
        <thead>
        <tr >
        <th style="width: 1%">
            CNPJ
        </th>
        <th style="width: 20%">
            RAZÃO SOCIAL
        </th>
        <th style="width: 30%">
            NOME RESPONSÁVEL
        </th>
       
        <th style="width: 20%">
            NOME FANTASIA
        </th>
        <th>
            ATIVO
        </th>
        <th>AÇÃO</th>
        <th>AÇÃO</th>
        <th>AÇÃO</th>
        

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let empresas of empresa">
        <td>
            {{empresas.cnpj}}
        </td>
        <td>
        {{empresas.razao_social}}
        </td>
        <td>
            {{empresas.nome_fantasia}}
        </td>
        <td>
            {{empresas.nome_responsavel}}
        </td>
        <td>
            {{empresas.celular_responsavel}}
        </td>
        <td>
            {{empresas.ativo}}
        </td>
        <td class="project-actions text-right">
        <a class="btn btn-primary btn-sm" href="#">
        <i class="fas fa-folder">
        </i>
        View
        </a>
        <a class="btn btn-info btn-sm" href="#">
        <i class="fas fa-pencil-alt">
        </i>
        Edit
        </a>
        <a class="btn btn-danger btn-sm" href="#">
        <i class="fas fa-trash">
        </i>
        Delete
        </a>
        </td>
        </tr>
        <tr>
        <td>
        #
        </td>
        </tr>
        </tbody>
        </table>
        </div>
        </div>
        </section>
        </div>
       </div>
         -->