<div class="wrapper">

    <!-- conteudo central do html  ode vamos implementar a lista-->
    <div class="content-wrapper">

        <div class="card" style=" max-width: 890px; margin: 170px auto;">
            <div class="card-header border-transparent">
                <h3 class="card-title">Lista de Empresas</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>

            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                            <tr >
                                <th>Edit</th>
                                <th>Delete</th>
                                <th>id</th>
                                <th>razao_social</th>
                                <th>nome_fantasia</th>
                                <th>cnpj</th>
                                <th>nome_responsavel</th>
                                <th>cpf_responsavel</th>

                                <th> email_responsavel</th>
                                <th>celular_responsavel</th>
                                <th>cep</th>
                                <th>logradouro</th>
                                <th>numero_logradouro</th>
                                <th>complemento_logradouro</th>
                                <th>bairro</th>
                                <th>cidade</th>
                                <th>estado</th>
                                <th>criado_em</th>
                                <th>atualizado_em</th>
                                <th>ativo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let empresas of empresa">
                                <th><button type="button" class="btn btn-primary" data-toggle="modal"(click)="onUpdate(empresas)" data-target="#myModal">
                                    Abrir Modal
                                  </button>
                                  </th>
                                <th><svg color="white"xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><path fill="white" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg></th>

                                <td>{{empresas.id}}</td>
                                <td>{{empresas.razao_social}}</td>
                                <td>{{empresas.nome_fantasia}}</td>
                                <td>{{empresas.cnpj}}</td>
                                <td>{{empresas.nome_responsavel}}</td>
                                <td>{{empresas.cpf_responsavel}}</td>
                                <td>{{empresas.email_responsavel}}</td>
                                <td>{{empresas.celular_responsavel}}</td>
                                <td>{{empresas.cep}}</td>
                                <td>{{empresas.logradouro}}</td>
                                <td>{{empresas. numero_logradouro}}</td>
                                <td>{{empresas.complemento_logradouro}}</td>
                                <td>{{empresas.bairro}}</td>
                                <td>{{empresas.cidade}}</td>
                                <td>{{empresas.estado}}</td>
                                <td>{{empresas.criado_em}}</td>
                                <td>{{empresas.atualizado_em}}</td>
                                <td>{{empresas.ativo}}</td>
                                <td>
                                    <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63
                                    </div>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>

            </div>


        </div>

        <!-- Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Conteúdo do modal aqui -->
            <div class="modal-header">
              <h4 class="modal-title">Editar Empresa</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card card-warning">
                    <div class="card-header">
                    <h3 class="card-title">Valor Selecionado</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="formEdit">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>razao_social</label>
                                     <input formControlName="razao_social" type="text" class="form-control" placeholder="Enter ...">
                                </div>

                                <div class="form-group">
                                    <label>nome_fantasia</label>
                                     <input formControlName="nome_fantasia"type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>cnpj</label>
                                     <input formControlName="cnpj" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>nome_responsavel</label>
                                     <input  formControlName="nome_responsavel" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>cpf_responsavel</label>
                                     <input formControlName="cpf_responsavel" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>email_responsavel</label>
                                     <input formControlName="email_responsavel" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>cep</label>
                                     <input formControlName="cep" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>logradouro</label>
                                     <input formControlName="logradouro" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>numero_logradouro</label>
                                     <input formControlName="numero_logradouro"type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>complemento_logradouro</label>
                                     <input formControlName="complemento_logradouro"type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>bairro</label>
                                     <input formControlName="bairro" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>cidade</label>
                                     <input formControlName="cidade" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>estado</label>
                                     <input formControlName="estado" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>criado_em</label>
                                     <input formControlName="criado_em" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label> atualizado_em</label>
                                     <input formControlName="atualizado_em" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>ativo</label>
                                     <input formControlName="ativo" type="text" class="form-control" placeholder="Enter ...">
                                </div>
                               

                            </div>
                        </div>
                    </form>
                    
                    

               </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Outro conteúdo da página aqui -->
    </div>